@import "tailwindcss";

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
   scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;              /* Chrome/Safari/Edge */
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.outline-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  text-stroke: 1px rgba(255, 255, 255, 0.2);
}

::selection {
  background: white;
  color: black;
}


/* Add to your global CSS file */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 15s linear infinite;
}

.delay-1000 {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}